	.seal {
	height: 50px;
	display: block;
	}
	.footer-link {
	text-transform: uppercase;
	margin-right: 20px;
	}
	footer .logo {
			position: absolute;
	width: 100px;
	opacity: 0.3;
	}
	h4 {
	text-transform: uppercase;
	font-weight: 500;
	font-size: 14px;
	margin-bottom: 2px;
	}
	p {
	margin-bottom: 2px;
	}
	.label {
	font-size: 12px;
	vertical-aligh: text-top;
	font-weight: 100;
	}
	footer {
	border-top: 1px solid lightgray;
	}
.social {
		width: 20px;
		height: 20px;
}	

.instagram {
		text-align: center;
}

.instagram .followus {
		margin-top: 10px;
		font-size: 14px;
}

.instagram img {
		border-radius: 4px;
		margin-top: 3%;
		margin-right: 1%;
		margin-left: 0px;
		width: 30%;
		max-width: 90px;
		height: 60px;
		object-fit: cover;
}
