div
  header.row
    .col-xs-12.navmenu
      img.logo(src='static/images/logo.png')
      
      ul
        li
          router-link(to="/makeup") Make up
        li
          router-link(to="/bodycare") Body care
        li
          router-link(to="/skincare")  Skin care
        li
          router-link(to="/hairandteeth") Hair and Teeth
        li
          router-link(to="/accessories") Phu kien