div
  .container
    cart.cart
    .header
      .row.animated.bounce
      .text-center.mtverybig
        img.logo-img(src="static/images/logo.png")
        p.logo-text sutu.shop
      .row.mtbig
        ul.navigation-menu.mbmed
          li
            router-link(to="/daugoikho") Dau goi kho
          li  
            router-link(to="/about") San pham
          li  
            router-link(to="/brand") Brand
          li  
            router-link(to="/blog") Blog
          li  
            router-link(to="/aboud") About us
  .container
    .row
      carousel#carousel-example-generic.carousel.slide.col-sm-12(data-ride="carousel")
        ol.carousel-indicators
          li.active(data-targe="#carousel-example-generic", data-slide-to="0")
          li(data-targe="#carousel-example-generic", data-slide-to="1")
          li(data-targe="#carousel-example-generic", data-slide-to="2")
        .carousel-inner
          .item.active
            img(src="static/images/slide3.png")
            .carousel-caption
              h3 Caption text
          .item
            img(src="static/images/slide1.png")
            .carousel-caption
              h3 Caption text
          .item
            img(src="static/images/slide2.png")
            .carousel-caption
              h3 Caption text
  .container
    .row
      .col-xs-12.mtbig.text-center
        h2 Chúng tôi đem đến cho bạn trải nghiệm mua sắm mỹ phẩm
    .row
      .col-sm-4.text-center.mtbig
        i.pe-7s-leaf.feature-icon
        h3 Chi ban hang chinh hang
        p Gap phai hang fake? Chat dau toi di
      .col-sm-4.text-center.mtbig
        i.pe-7s-cash.feature-icon
        h3 Mien phi giao hang
        p Mua hang la viec cua ban, giao hang la viec cua chung toi
      .col-sm-4.text-center.mtbig
        i.pe-7s-gift.feature-icon
        p Mien phi giao hang
  .container
    .row
      .mtbig.text-center
        .col-sm-12
          img(src="http://vignette2.wikia.nocookie.net/animal-jam-clans-1/images/e/e0/Hipster_arrow_heart_page_divider.png/revision/latest?cb=20160729215711")
    .row
      .col-sm-12
        h2.text-center San pham duoc yeu thich nhat
    .row
      .col-sm-4.mtbig
        .product
          .product-img(style="background-image: url('https://preview.arraythemes.com/checkout-edd/wp-content/uploads/sites/23/edd/2015/02/ipad-600x450.jpg');")
          h4 Dau goi kho batiste
      .col-sm-4.mtbig
        .product
          .product-img(style="background-image: url('http://aresivel.wiloke.com/wp-content/uploads/2015/07/5.jpg');")
          h4 Dau goi kho batiste
      .col-sm-4.mtbig
        .product
          .product-img(style="background-image: url('http://aresivel.wiloke.com/wp-content/uploads/2015/07/23.jpg');")
          h4 Dau goi kho batiste
          span 39 000

  .container
    .row
      .col-sm-12
        .gal-item(style="padding:20px")
          .gal-item-wrapper
            .figure.gal-item-inner                                
              img(width="600" height="300" src="http://simple-elegant.withemes.com/wp-content/uploads/2016/10/1-1.png" class="image-fadein attachment-full" alt="" srcset="http://simple-elegant.withemes.com/wp-content/uploads/2016/10/1-1.png 600w, http://simple-elegant.withemes.com/wp-content/uploads/2016/10/1-1-300x150.png 300w" sizes="(max-width: 600px) 100vw, 600px")         
        .gal-item(style="padding:20px")
          .gal-item-wrapper
            .figure.gal-item-inner                                
              img(width="600" height="300" src="http://simple-elegant.withemes.com/wp-content/uploads/2016/10/2-1.png" class="image-fadein attachment-full" alt="" srcset="http://simple-elegant.withemes.com/wp-content/uploads/2016/10/2-1.png 600w, http://simple-elegant.withemes.com/wp-content/uploads/2016/10/2-1-300x150.png 300w" sizes="(max-width: 600px) 100vw, 600px")
        .gal-item(style="padding:20px")
          .gal-item-wrapper
            .figure.gal-item-inner                                
              img(width="600" height="300" src="http://simple-elegant.withemes.com/wp-content/uploads/2016/10/5-1.png" class="image-fadein attachment-full" alt="" srcset="http://simple-elegant.withemes.com/wp-content/uploads/2016/10/5-1.png 600w, http://simple-elegant.withemes.com/wp-content/uploads/2016/10/5-1-300x150.png 300w" sizes="(max-width: 600px) 100vw, 600px")
        .gal-item(style="padding:20px")
          .gal-item-wrapper
            .figure.gal-item-inner                                
              img(width="600" height="300" src="http://simple-elegant.withemes.com/wp-content/uploads/2016/10/6-1.png" class="image-fadein attachment-full" alt="" srcset="http://simple-elegant.withemes.com/wp-content/uploads/2016/10/6-1.png 600w, http://simple-elegant.withemes.com/wp-content/uploads/2016/10/6-1-300x150.png 300w" sizes="(max-width: 600px) 100vw, 600px")
        .gal-item(style="padding:20px")
          .gal-item-wrapper
            .figure.gal-item-inner                                
              img(width="600" height="300" src="http://simple-elegant.withemes.com/wp-content/uploads/2016/10/2-1.png" class="image-fadein attachment-full" alt="" srcset="http://simple-elegant.withemes.com/wp-content/uploads/2016/10/2-1.png 600w, http://simple-elegant.withemes.com/wp-content/uploads/2016/10/2-1-300x150.png 300w" sizes="(max-width: 600px) 100vw, 600px")
        .gal-item(style="padding:20px")
          .gal-item-wrapper
            .figure.gal-item-inner                                
              img(width="600" height="300" src="http://simple-elegant.withemes.com/wp-content/uploads/2016/10/5-1.png" class="image-fadein attachment-full" alt="" srcset="http://simple-elegant.withemes.com/wp-content/uploads/2016/10/5-1.png 600w, http://simple-elegant.withemes.com/wp-content/uploads/2016/10/5-1-300x150.png 300w" sizes="(max-width: 600px) 100vw, 600px")
